**/.vscode
**/__pycache__
**/*.pyc
**/*.c
**/*.cpp
build/
**/*.egg-info
**/*.swp
**/*.so
**/*_api.h
**/*.DS_Store

tasksim/results_transfer
tasksim/cached_results
tasksim/nested_results
tasksim/agent_bases

